/* src/Components/Pages/About.css */

.about-container {
    padding: 20px;
    background-color: var(--medium-blue);
    border: 2px solid var(--light-blue);
    border-radius: 15px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: var(--light-blue);
    padding: 20px;
    border-radius: 8px;
}

.about-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.about-text {
    flex: 1;
    text-align: left;
}

h2 {
    margin-top: 0;
    color: var(--deep-navy);
}
.bubble-style {
    background-color: var(--medium-blue);
    border: 2px solid var(--light-blue);
    border-radius: 15px; /* Adjust for desired roundness */
    padding: 10px; /* Adjust for desired spacing */
}