.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px; /* Added padding to the sides */
    background-color: var(--deep-navy);
}

.title-bubble, .carousel-bubble, .content-bubble {
    background-color: var(--medium-blue);
    border: 30px solid var(--light-blue); 
    border-radius: 30px; /* Rounded inner borders */
    padding: 20px;
    max-width: 80%;
    text-align: center;
}

.carousel-bubble .embla__container {
    display: flex;
}

.content-bubble {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mission-statement, .stay-connected {
    flex: 1;
    margin: 0 20px;
    border-radius: 20px; /* Rounded inner borders for the mission and stay connected sections */
}

h1, h2 {
    color: var(--deep-navy);
}

p {
    color: var(--deep-navy);
}
