/* Footer.module.css */

footer {
    background-color: var(--deep-navy);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px 0;
}
